<div class="column is-3 is-offset-1">
  <h3 class="title is-5 has-text-grey-light">Chủ đề</h3>

  <div class="tags">
    <% @channels.each do |c| %>
    <span><%= link_to c.channel, c, class: "tag" %></span>
    <% end %>
  </div>

  <br/>

<% if has_role?(:admin) %>
  <%= link_to 'Chủ đề mới', new_channel_path, class:'button is-info' %>
<% end %>
</div>